<%= erb :nav %>

<h1 class="SloganForAbout">"Capture the Highlight of your Image"</h1>
<div class="messageAbout">
	<h3>The Aperture app is a simple, fun & creative way to capture, edit, and share photos with friends & family. Use your photos to tell your story. After all, a picture says a thousand words.</h3>
	<h5>Aperture is a space through which light passes in an optical or photographic instrument. In other words, it is an opening by which light enters a camera. We used Aperture as our company name beacuse we want to give your photos the meanings they deserve. Just how light allows us to see an image, "Aperture" allows us to see your story through an image. </h5>
</div>
<div class="logoAbout"><img src="/img/Logo_Aperture.png"></div>
