
<form method="POST" action="/comment" class="commentsForm" >
	<table>
		<input type="hidden" name="post_id" value="<%= post.id %>" />
		<tr>
			<td><textarea name="message" placeholder="Comment..."></textarea></td>
			<td><input type="submit" value="Comment" /></td>
		</tr>
	</table>
</form>