<%= erb :nav %>

<h1 class="deleteAccountPageMessage1">Are you sure you want to delete your account. This process cannot be undone.</h1>

<h3 class="deleteAccountPageMessage2">Deleting your account will not only delete your user profile, but will delete any photos, posts, and/or comments you have made while you were on your account. We advise you to please reconsider before submitting this request. If you are fine with this process and are sure you want to delete this account, you may proceed.  </h3>

<%= erb :deleteaccount %>
