
<form method="POST" action="/deleteaccount" >
	<input class="deleteaccountbutton" type="submit" value="DELETE ACCOUNT">
</form>
<form method="GET" action="/cancel">
	<input class="cancelbutton" type="submit" value="CANCEL">
</form>