<h1 class="h1HomePage">GOTgram</h1>
<!-- <div id="WesterosMap" class="header" ><img src="images/WesterosMap.jpg"/></div> -->

<div class="HomeBody">
	<div id="Intro1" class="HomeBody"
	

<div class="HomePagebutton">
	<form method="GET" action="/home">
	<input type="submit" name="signup" value="Sign Up"/>
	</form>

	<form method="GET" action="/login">
	<input class="loginbutton" type="submit" name="login" value="Log In"/>
	</form>
</div>

