<div class="HomePage">
	<div class="HomePageWelcome">
		<h1>Welcome to</h1>
		<h1 class="HomePageAperture">Aperture!</h1>
	</div>

	<div class="HomePagebutton">
		<form method="GET" action="/home" class="signupbutton" >
			<h3>Don't Have an Account?</h3>
			<input type="submit" class="button" name="signup" value="Sign Up" />
		</form>

		<form method="GET" action="/login" class="loginbutton" >
			<h3>Already Have an Account?</h3>
			<input type="submit" class="button" font-size="200px" name="login" value="Log In"/>
		</form>
	</div>
</div>
<h1 class="Slogan">"Capture the Highlight of your Image"</h1>