<!DOCTYPE html>
<html>
<head>
	<title>GOTgram</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<div class="flashMessage"><%= flash[:message] %></div>
	<%= yield %>
</body>
</html>