<div class="LogInPage">
	<h1 class="LogInPageH1">Log In</h1>
	<form method="POST" class="loginForm" action="/login">
		<label>Username</label><input class="usernameInput" type="" name="username" />
		<label>Password</label><input class="passwordInput" type="password" name="password" />
		<label></label><input class="LogInButton" type="submit" name="Login" value="Log In">
	</form>
</div>