<div class="navBorder">
	<div class="nav">
		<ul>
			<li class="buzzfeedPageNav"><a href="/buzzfeed">Home</a></li>
			<li class="profilePageNav"><a href="/profile">Profile</a></li>
			<li class="editaccountPageNav"><a href="/editaccount">Account</a></li>
			<li class="contactPageNav"><a href="/contact">Contact</a></li>
			<li class="aboutPageNav"><a href="/about">About</a></li>
			<li class="logoutPageNav"><a href="/logout">Log Out</a></li>
			
		</ul>
	</div>
</div>

