body {
	background: linear-gradient(to bottom, #bcbdc4, #5fc4e2);
	background-size: cover;
	background-repeat: no-repeat;
}

.otherbody{
	background: linear-gradient(to bottom, #bcbdc4, #5fc4e2);
	background-repeat: no-repeat;
	height: 100ch;


}

.header {
	position: fixed;
	width: 100%;
	height: 100px;
	top:0;
	left:0;
	background-color: #04acdd;
	z-index: -1;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.h1HomePage {
	position: fixed;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: white;
	z-index: 1;
	padding-left: 45%;
}

.button {
	position: fixed;
	padding: 50%;
	height: 1000px;
	width: 70px;
}

.loginbutton {
	height: 60px;
	width: 115px;
}
